*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: white;
}

.all{
  cursor: pointer;
  width: 100vw;
  height: 100vh;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
}
#newColor{
  padding: 10px;
  border-radius: 10px;
  text-shadow: 2px 2px white;
  box-shadow: none;
  font-size: 4rem;
  font-style: italic;
  font-family: sans-serif;
  border-color: none;
  border-style: none;
}
#newColor:focus{
  display: none;
}


